<!-- <form [formGroup]="myForm" (ngSubmit)="onSubmit($event)">
    <div>
        <label for="name">Name:</label>
        <input type="text" name="name" formControlName="fullName" />
        <div *ngIf="myForm.get('fullName')?.invalid && myForm?.get('fullName')?.touched">   
            <small *ngIf="myForm.get('fullName')?.errors?.['required']">{{"Full Name is Required"}}</small>
            <small *ngIf="myForm.get('fullName')?.errors?.['minlength']">{{"Minumum 3 characters is required"}}</small>
        </div>
    </div>
    <br />
    <div>
        <label for="email">Email:</label>
        <input type="text" name="email" formControlName="email" />
        <div *ngIf="myForm.get('email')?.invalid && myForm.get('email')?.touched">
            <small *ngIf="myForm.get('email')?.errors?.['required']">Email is required</small>
            <small *ngIf="myForm.get('email')?.errors?.['email']">Invalid email format</small>
        </div>
    </div>
    <br />
    <div>
        <label>Gender</label>
        <label>
            <input type="radio" formControlName="gender" value="M" />
            Male
        </label>

        <label>
            <input type="radio" formControlName="gender" value="F" />
            Female
        </label>
          <div *ngIf="myForm.get('gender')?.invalid && myForm.get('gender')?.touched">
            Please select at least one value.
        </div>
    </div>

    <br />
    <div [ngClass]="'col-6'" formArrayName="agecheck">
        <label>Are You 18+:</label><br />
        <div *ngFor="let val of ageCheck.controls; let i = index" [formGroupName]="i">
            <input type="checkbox" formControlName="selected" />
            {{ val.get('label')?.value }}
        </div>
        <div *ngIf="myForm.get('agecheck')?.invalid && myForm.get('agecheck')?.touched">
            Please select at least one value.
        </div>
    </div>
    <br />
    <div [ngClass]="'col-6'" formArrayName="hobbies">
        <label>Hobbies:</label><br />
        <div *ngFor="let hobby of hobbies.controls; let i = index" [formGroupName]="i">
            <input type="checkbox" formControlName="selected" />
            {{ hobby.get('label')?.value }}
        </div>
        <div *ngIf="myForm.get('hobbies')?.invalid && myForm.get('hobbies')?.touched">
            Please select at least one hobby.
        </div>
    </div>
    <br/>
    <div>
        <label>Address:</label>
        <input type="textarea" formControlName="address"/>
    </div>
    <br />
    <div>
        <button type="submit">Submit</button>
    </div>
</form> -->

<app-rubicon></app-rubicon>