<div *ngIf="group" [formGroup]="group" [class]="field?.cssClass">
    <label *ngIf="field.label" [class]="field?.labelClass">{{getLabel()}}</label>
    <textarea
        [class]="field?.fieldClass"
        [formControlName]="field.key"
        [attr.placeholder]="field.tooltip"
        [autocomplete]="field?.autocomplete"
        [name]="field?.autocomplete"
        rows="6"
      ></textarea>
       <div class="invalid-feedback err" *ngIf="isInvalid()">
        <ng-container *ngFor="let err of getErrors()">
          <div>{{ err }}</div>
        </ng-container>
      </div>
</div>