<!-- https://chatgpt.com/c/68b09662-3c20-8327-ae82-a4897ed27a03 -->
 <!-- pending to add global styles -->
 <!-- https://chatgpt.com/c/68b09662-3c20-8327-ae82-a4897ed27a03 -->
  <!-- add show hide -->
<!-- <app-text [slug]="slug" [group]="group" [field]="fields[0]"></app-text> -->
 <!-- to add css json as well as we dont want to chamge css in workflow again and again-->

 <!-- textarea → basically text ka hi variant but multiline support ke saath.

amount → masking/formatting (₹ / commas / only numeric allowed), but backend me raw number save hoga.

date → datepicker / native input type="date".

array → nested form controls / repeatable items (jaise dynamic addresses / phones).

custom → agar tumhare app me koi special component chahiye (ex: file upload, toggle, chips). -->
<form [formGroup]="group" (ngSubmit)="submit()" [class]="parentClass" autocomplete="off">
  <ng-container *ngFor="let field of fields">
    <ng-container *ngIf="formService.isFieldVisible(field, group)">
      <ng-container >
        <div [ngClass]="field.cssClass">
          <ng-container
            appDynamicField
            [field]="field"
            [group]="group"
            [slug]="slug"
          ></ng-container>
        </div>
      </ng-container>
    </ng-container>
  </ng-container>

  <!-- <div class="col-12">
    <button class="btn btn-primary" type="submit">Submit</button>
  </div> -->
</form>
